body {
    background: linear-gradient(#f0f0f0,#888888) fixed;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h1 {
    font-family: 'Rowdies', cursive;
}

ol {
    list-style-position: inside;
}